html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  max-width: 900px;
  margin: 2em auto;
  padding: 0 1em;
}

nav {
  border-bottom: 2px solid black;
  padding: 1.5em 1em;
  text-align: center;
}

nav a {
  margin: auto;
  padding: 1em 1em;
  text-decoration: none;
  border-radius: 6px;
  color: black;
  display: inline-block;
}

nav a.active {
  background: #ddd;
}

input, select, textarea, button {
  width: 100%;
  height: 50px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: block;
  margin: auto;
  text-align: center;
}

label {
  padding: 1rem 1rem 1rem 0;
  display: block;
  margin: auto;
  text-align: center;
}


button {
  margin: 2em auto;
  background-color: #04AA6D;
  color: white;
  cursor: pointer;
  float: right;
}

table {
  width: 100%;
  border-top: 2px solid black;
  border-collapse: collapse;
  margin-top: 1rem;
}

th, td {
  border-bottom: 1px solid #eee;
  padding: 1rem;
  text-align: left;
}

h3 {
  text-align: center;
  margin-top: 2rem;
}
