html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  max-width: 900px;
  margin: 2em auto;
  padding: 0 1em;
}

nav {
  padding: 1.5em 1em;
  display: flex;
  flex-direction: row;
}

nav a {
  margin: auto;
  padding: 1em 1em;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 6px;
  color: black;
  background: #eee;
}

nav a.active {
  background: #ccc;
}

nav a:hover {
  background: #ddd;
}

.bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
}

.bar > h2 {
  color: orange;
  font-size: 2rem;
}

.container {
  border-top: 2px solid black;
  display: flex;
  flex-direction: column;
}

.column {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.column * {
  display: flex;
  justify-content: center;
}

.query {
  display: flex;
  border-top: 2px solid black;
  margin-top: 0.5rem;
  flex-direction: column;
  justify-content: center;
}

.query label {
  text-align: center;
}

.query * {
  font-size: 1rem;
  min-height: 30px;
  align-content: center;
  border-radius: 5px;
}

.row {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  margin-top: 0.5em;
}

.row label {
  text-align: center;
}

.row .post, .row .quit {
  flex-basis: 100%;
  text-align: center;
}

h1 > a {
  color: black;
  text-decoration: none;
}

a.post {
  text-decoration: none;
}

.row * {
  font-size: 1.2rem;
  min-height: 50px;
  align-content: center;
  border-radius: 5px;
}

textarea {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: unset;
}

select, input, textarea {
  text-align: center;
  text-align-last: center;
  -webkit-appearance: none;
}

.messages {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
}

.message {
  align-content: center;
  text-align: center;
  font-size: 1.2em;
  margin: 1rem;
}

.info {
  color: green;
}

.error {
  color: red;
}

select {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 6'><path fill='%23555' d='M0 0l5 6 5-6z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 0.8em center;
  background-size: 0.75em;
}

.post, .quit {
  margin: 1rem 0.5rem;
}

.post, .edit {
  background-color: #04AA6D;
  border: 1px solid #04AA6D;
}

.post, .quit, .edit, .delete {
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.edit, .delete {
  margin: 5px 0;
}

.post:hover, .edit:hover {
  background-color: #00aa00;
  border: 1px solid #00aa00;
}

.delete, .quit {
  text-decoration: none;
  background-color: #AA0000;
  border: 1px solid #BB0000;
}

.delete:hover, .quit:hover {
  background-color: #BB0000;
  border: 1px solid #AA0000;
}

@media all and (min-width: 600px) {
  .row { 
    flex-direction: row; 
    align-items: center;
  }
  .row label { 
    text-align: left; 
    flex-basis: 25%;
    width: 100%;
  }
  .row * {
    font-size: 1.2rem;
    flex-basis: 75%;
    width: 100%;
    min-height: 50px;
  }

  .query {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .query * {
    width: 90%;
  }
}

table {
  width: 100%;
  border-top: 2px solid black;
  border-collapse: collapse;
  margin-top: 0.5rem;
}

th, td {
  border-bottom: 1px solid #eee;
  padding: 1rem;
  text-align: left;
}
