html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  max-width: 900px;
  margin: 2em auto;
  padding: 0 1em;
}

nav {
  padding: 1.5em 1em;
  display: flex;
  flex-direction: row;
}

nav a {
  margin: auto;
  padding: 1em 1em;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 6px;
  color: black;
  background: #eee;
}

nav a.active {
  background: #ccc;
}

nav a:hover {
  background: #ddd;
}

.bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
}

.bar > h2 {
  color: orange;
  font-size: 2rem;
}

.container {
  border-top: 2px solid black;
  display: flex;
  flex-direction: column;
}

.last {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.column * {
  display: flex;
  justify-content: center;
}

.get {
  cursor: pointer;
  width: 100%;
}

.query {
  display: flex;
  border-top: 2px solid black;
  margin-top: 0.5rem;
  flex-direction: column;
  justify-content: center;
}

.query label {
  text-align: center;
}

.save {
  border: 1px solid;
  text-decoration: none;
  padding: 0.5rem;
  background-color: #2563EB;
  color: white;
}

.save:hover {
  background-color: #1E88E5;
}

.query *, .save {
  font-size: 1rem;
  min-height: 30px;
  align-content: center;
  border-radius: 5px;
  margin-top: 0.5rem;
}

.row {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  margin-top: 0.5em;
}

.row label {
  text-align: center;
}

.row .post, .row .quit {
  flex-basis: 100%;
  text-align: center;
}

h1 > a {
  color: black;
  text-decoration: none;
}

a.post {
  text-decoration: none;
}

.row * {
  font-size: 1.2rem;
  min-height: 50px;
  align-content: center;
  border-radius: 5px;
}

textarea {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: unset;
}

select, input, textarea {
  text-align: center;
  text-align-last: center;
  -webkit-appearance: none;
  cursor: pointer;
}

.messages {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
}

.message {
  align-content: center;
  text-align: center;
  font-size: 1.2em;
  margin: 1rem;
}

.info {
  color: green;
}

.error {
  color: red;
}

select {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 6'><path fill='%23555' d='M0 0l5 6 5-6z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 0.2em center;
  background-size: 0.75em;
  padding-right: 1em;
}

.post, .quit {
  margin: 1rem 0.5rem;
}

.post {
  background-color: #04AA6D;
  border: 1px solid #04AA6D;
}

.edit {
  background-color: #F59E0B;
  border: 1px solid #F59E0B;
}

.post, .quit, .edit, .delete {
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.edit, .delete {
  margin-top: 0.5rem;
  padding: 0.5rem;
}

.post:hover {
  background-color: #00aa00;
  border: 1px solid #00aa00;
}

.edit:hover {
  background-color: #FB8C00;
  border: 1px solid #FB8C00;
}

.delete, .quit {
  text-decoration: none;
  background-color: #AA0000;
  border: 1px solid #BB0000;
}

.delete:hover, .quit:hover {
  background-color: #BB0000;
  border: 1px solid #AA0000;
}
.data-label {
  display: none;
}

table {
  width: 100%;
  border-top: 2px solid black;
  border-collapse: collapse;
  margin-top: 0.5rem;
}

th {
  text-align: left;
  padding: 0.5rem 0;
  margin-bottom: 0.5rem;
}

tbody tr {
  display: block;
  width: 100%;
  margin-bottom: 0.75rem;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 6px;
  padding: 0.5rem;
}

td {
  display: grid;
  grid-template-columns: 75px 1fr;
  gap: 0.5rem;
  padding: 0.5rem;
  border-bottom: 1px dashed #f0f0f0;
}

td::before {
  content: attr(data-label);
  font-weight: 600;
  color: #555;
}

td:last-child {
  border-bottom: 0;
}

div.last {
  flex-direction: row;
  justify-content: space-around;
}

@media all and (min-width: 600px) {
  .last {
    flex-shrink: 2;
    align-items: flex-end;
    min-width: 75px;
  }

  .row {
    flex-direction: row;
    align-items: center;
  }

  .row label {
    text-align: left;
    flex-basis: 25%;
    width: 100%;
  }

  .row * {
    font-size: 1.2rem;
    flex-basis: 75%;
    width: 100%;
    min-height: 50px;
  }

  .column {
    align-items: center;
    justify-content: center;
  }

  .query {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
  }

  .query * {
    width: 90%;
  }
}
