html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  max-width: 900px;
  margin: 2em auto;
  padding: 0 1em;
}

nav {
  border-bottom: 2px solid black;
  padding: 1.5em 1em;
  display: flex;
  flex-direction: row;
}

nav a {
  margin: auto;
  padding: 1em 1em;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 6px;
  color: black;
  background: #eee;
}

nav a.active {
  background: #ccc;
}

nav a:hover {
  background: #ddd;
}

.container {
  display: flex;
  flex-direction: column;
}

.column {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.column form {
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 0.5em;
}

.row label {
  text-align: center;
}

.row .post {
  flex-basis: 100%;
  width: 100%;
  text-align: center;
}

a.post {
  text-decoration: none;
}

.row * {
  font-size: 1.2rem;
  min-height: 50px;
  align-content: center;
  border-radius: 5px;
}

select, input, textarea {
  text-align: center;
  text-align-last: center;
  -webkit-appearance: none;
}

.messages {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
}

.message {
  align-content: center;
  text-align: center;
  font-size: 1.2em;
  margin: 1rem;
}

.info {
  color: green;
}

.error {
  color: red;
}

select {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 6'><path fill='%23555' d='M0 0l5 6 5-6z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 0.8em center;
  background-size: 0.75em;
}

.post {
  margin: 2rem auto;
}

.post, .edit {
  background-color: #04AA6D;
  border: 1px solid #04AA6D;
}

.post, .edit, .delete {
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.edit, .delete {
  margin: 5px 0;
}

.post:hover, .edit:hover {
  background-color: #00aa00;
  border: 1px solid #00aa00;
}

.delete {
  background-color: #AA0000;
  border: 1px solid #BB0000;
}

.delete:hover {
  background-color: #BB0000;
  border: 1px solid #AA0000;
}

@media all and (min-width: 600px) {
  .row { 
    flex-direction: row; 
    align-items: baseline;
    margin-top: 1em;
  }
  .row label { 
    text-align: left; 
    flex-basis: 25%;
    width: 100%;
  }
  .row * {
    font-size: 1.2rem;
    flex-basis: 75%;
    width: 100%;
    min-height: 50px;
  }
}

table {
  width: 100%;
  border-top: 2px solid black;
  border-collapse: collapse;
  margin-top: 1rem;
}

th, td {
  border-bottom: 1px solid #eee;
  padding: 1rem;
  text-align: left;
}
