{% extends "base.html" %}

{% block content %}

<div class="row">
    <a class="post" href="/form_hours">Bæta við færslu</a>
</div>

{% if hours %}
<table>
  <tr>
    <th>Dagsetning</th>
    <th>Kúnni</th>
    <th>Verkefni</th>
    <th>Klst.</th>
    <th>Lýsing</th>
    <th></th>
  </tr>
  {% for h in hours %}
  <tr>
    <td>{{ h.date }}</td>
    <td>{{ h.client.name }}</td>
    <td>{{ h.project.description or "-" }}</td>
    <td>{{ h.hours }}</td>
    <td>{{ h.description or "-" }}</td>
    <td>
      <div class="column">
        <form method="POST"
              action="{{ url_for('hours.delete_item', id=h.id) }}"
              onsubmit="return confirm('Eyða þessari færslu?\n {{h.date}}\n {{h.client.name}}\n {{ h.project.description}}\n {{h.hours}}\n {{h.description}}');">
          <button type="submit" class="delete">Eyða</button>
        </form>
        <form  action="{{ url_for('hours.edit', id=h.id) }}">
          <button type="submit" class="edit">Breyta</button>
        </form>
      </div>
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>Engir tímar skráðir.</p>
{% endif %}

{% endblock %}
